box2d_example.html
gamejs_example.html
*~
*.swp
other_audio/*
art_helpers/*
other/*
art/*
test.html
ideas.txt
game_playtesting.txt
art direction.txt
changelog.txt
impulse storyboard.docx
story.txt
compile.txt
beyond.txt
*.txt
js/temp.js
ranking.txt
prog.txt
js/c*14.js
screenshots/*
trailer/*
impulse_text.rtf
dated_stuff/*
marketing/*
node_modules/*
*.rtf
